.our-work{
    position: relative;
    top:165px;
    background-color:#0E0E33;
    height: 880px;
    display: flex;
    flex-direction: column;
    .our-work-title{
        position: relative;
        top:165px;
        p{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 41px;
            line-height: 50px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .items-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        top:280px;
        .item-span{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 30px;
            color: #FFFFFF;
            h3{
                font-size: 44px;
            }
            p{
                font-size: 18px;
            }
        }
    }
    .images-container-parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-gap: 45px;
        align-items: center;
        position: relative;
        top: 370px;
        button{
            height: 60px;
            width:166px;
            color:white;
            background: #0A8BFE;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    .images-container-first-child , .images-container-second-child{
        display: flex;
        flex-direction: row;
        grid-gap: 35px;
    }
    .img-item{
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
        width: 565px;
        height: 600px;
        display: flex;
        flex-direction: column;
        .image-span{
            position: relative;
            top:35px;
            h2{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 38px;
                color: #000000;
            }
            p{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                color: #737373;
            }
        }
    }
    
}